{% extends "MemeGenerator/header.html" %}

{% block content %}

<div class="header">

{% include "MemeGenerator/includes/logo.html" %}

{% include "MemeGenerator/includes/navigation.html" %}

</div>

<h2>Your Feed</h2>

<div class="content">
	<div class="img-container">
		<img src="{{ leftMeme.image }}"></img>
		<h3>Here is a title for the left image!</h3>
		{% for comment in leftComments %}
			<p>{{ comment.comment }}</p>
		{% endfor %}
	</div>
	<div class="img-container">
		<img src="{{ rightMeme.image }}"></img>
		<h3>Here is a title for the right image!</h3>
		{% for comment in rightComments %}
			<p>{{ comment.comment }}</p>
		{% endfor %}
	</div>
</div>
 
<div class="postnav">
	<a href="">Previous Page</a>
	<a href="">Next Page</a>
</div>

{% include "MemeGenerator/includes/footer.html" %}

{% endblock %}