{% extends "MemeGenerator/header.html" %}

{% block content %}

<div class="header">

{% include "MemeGenerator/includes/logo.html" %}

{% include "MemeGenerator/includes/navigation.html" %}

</div>

<h2>Select a meme</h2>

<form>
		Meme: <br>
		<select id="country" name="country">
			<option value="australia">Australia</option>
			<option value="canada">Canada</option>
			<option value="usa">USA</option>
		</select> <br>

		Top Text:<br>
		<input type="text" name="toptext"><br>

		Bottom Text:<br>
		<input type="text" name="bottomtext">
</form>

{% include "MemeGenerator/includes/footer.html" %}

{% endblock %}