{% extends "MemeGenerator/header.html" %}

{% block content %}

<div class="header">

{% include "MemeGenerator/includes/logo.html" %}

{% include "MemeGenerator/includes/navigation.html" %}

</div>

{% load static %}

<h2>Make An Account</h2>

<div class="content">
	<div class="form-container">
		<form action="" method="POST">{% csrf_token %}
				Account Name:<br>
				<input type="text" name="user"><br>

				<input type="submit" value="Submit">
		</form>
	</div>

	<div class="img-container"> 
		<img src="{% static 'MemeGenerator/sociallyAwkwardPenguin.jpg' %}">
	</div>
</div>

{% include "MemeGenerator/includes/footer.html" %}

{% endblock %}