body {
	font-family: Georgia, serif;
	background-color: #EEF1EF;
	color: #1C2321;
	padding: 0px;
	margin: 0px;
}

.header {
	font-family: Verdana, sans-serif;
	background-color: #EEF1EF;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	white-space: nowrap;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	height: 82px;
}

.navigation {
	float: right;
	font-size: 16pt;
	padding-top: 30px;
}

.navigation a, .navigation a:visited {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	padding: 14px 16px;
}

.navigation a:hover {
	background-color: #A7ABB2;
	color: inherit;
}

h1 {
	float:left;
}

.content {
	width: 100%;
	padding: 0px 8px;
}

.img-container {
	width: 49.9999%;
}

.footer {
	text-align: center;
}